@use "../abstracts/" as *;

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint (large) {
    height: calc($header-height + 1.5rem);
    max-width: 1400px;
  }
  &__logo {
    height: 60px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    @include breakpoint-down (medium) {
      position: fixed;
      background: var(--bg-white-alt);
      padding: 2.5rem;
      width: 100%;
      height: 100%;
      top: -100%; //when click $header-height 5.625rem
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      z-index: 11;
    }
    @include breakpoint (large) {
      flex-direction: row;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    @include breakpoint (large) {
      flex-direction: row;
      column-gap: 2.5rem;

    }
  }
  &__link {
    font-weight: 500;
    transition: .5s;
    &:hover {
      color: var(--details-bronz);
    }
  }
  &__btn {
    display: none;
    @include breakpoint (large) {
      display: block;
      background: transparent;
      border: 2px solid var(--details-black);
      &:hover {
        border: 0;
      }
    }
    &-hamb {
      background: transparent;
      border: 2px solid var(--details-black);
      @include breakpoint (large) {
        display: none;
      }
      &:hover {
        color: var(--text-white);
        border: 0;
      }
    }
  }

  &__toggle, &__close {
    font-size: 1.5rem;
    cursor: pointer;
    @include breakpoint (large) {
    display: none;
    }
  } 

  &__close {
    display: none;
  }
}

/* Show menu */
.show-menu {
  top: calc($header-height);
}

.hide-toggle {
  display: none;
}

.show-close {
  display: block;
}

/*Scroll menu */
.scroll-header {
  background: var(--bg-white-alt);
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
}