@use "../abstracts/" as *;

.section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 968px;
  margin-left: rem(24);
  margin-right: rem(24);
  @include breakpoint (large) {
    max-width: 1200px;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}