@use "../abstracts/" as *;

.benefits {
  padding: 5rem 0 5rem;
  margin: 4rem 0 2rem;
  background: var(--bg-white-alt);
  text-align: center;
  border-top: $border;
  border-bottom: $border;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include breakpoint (large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__item h4{
    margin-bottom: 0;
  }
}

.benefits__item svg {
  max-height: rem(50);
}