@use "../abstracts/" as a;

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0;
  font-family: a.$title-font;
}

h1 {
  font-size: a.rem(34);
}
// h2 {
//   font-size: a.rem(28);
// }
h3 {
  font-size: a.rem(19);
}
h4 {
  font-size: a.rem(20);
}

h5 {
  font-size: a.rem(16);
  font-weight: 600;
  font-family: a.$body-font;
  margin-bottom: .2rem;
}

// @include a.breakpoint(medium) {
//   h1 {
//     font-size: a.rem(38);
//   }
//   h3 {
//     font-size: a.rem(24);
//   }
// }

@include a.breakpoint(large) {
  h1 {
    font-size: a.rem(62);
  }
  h2 {
    font-size: a.rem(38);
  }
  h3 {
    font-size: a.rem(22);
  }
}

p {
  margin-top: 0;
  line-height: 1.8; // 33/18
  font-size: a.rem(16);
}

ul {
  font-size: a.rem(16);
  list-style: none;
  line-height: 1.8;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--text-black);
}

a, a:visited, a:active {
  text-decoration: none;
}


